@import ~office-ui-fabric-react/dist/sass/Fabric
@import ~@morteza-jamali/micon-font/dist/micon/css/micon.css

::-webkit-scrollbar
  width: 12px
  height: 12px
  background-color: transparent
  border-left: 1px solid #404040
::-webkit-scrollbar-thumb
  background-color: rgba(255, 255, 255, 0.3)
  &:hover
    background-color: rgba(255, 255, 255, 0.6)
html , body , #root
  height: 100%
  width: 100%
body
  background-color: #333333 !important
  margin: 0
button, a, div
  &:focus
    outline: none !important
.gutter.gutter-vertical
  cursor: n-resize
.xterm
  padding: 15px 15px
  &:hover .xterm-viewport
    overflow-y: auto !important
  .xterm-viewport
    overflow-y: hidden !important
    transition: all 0.3s
